#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/keyringer PREFIX=/usr install
	rm $$(pwd)/debian/keyringer/share/doc/keyringer/LICENSE
